{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}
	<h1>Liste des articles 25/10/2024</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Categories</th>
				<th>Qte</th>
				<th>Prix</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>
					<td>{{ article.id }}</td>
					<td>{{ article.nom }}</td>
					{# ********* #}
					<td>
						{% for c in article.categories %}
							{{ c.nom }}-
						{% endfor %}
					</td>
					{# ************ #}
					<td>{{ article.qte }}</td>
					<td>{{ article.prix }}</td>
					<td>
						<a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
						<a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
